@model Shapes.Models.Rectangle

@{
    ViewBag.Title = "Index";
}

<h2>Acreage - Perimeter of the Rectangle</h2>

@using (Html.BeginForm("Index", "Rectangle"))
{
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Width of rectangle")
            @Html.TextBoxFor(m => m.Width, new { @type = "number",@class = "form-control" })
        </div>

        <div class="form-group">
            @Html.Label("Height of rectangle")
            @Html.TextBoxFor(m => m.Heigh, new { @type = "number", @class = "form-control" })
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Calculate" />
            <input type="submit" class="btn btn-default" value="Continue..." />
        </div>
    </div>

    <div class="col-md-6">

        <div class="alert-success">
            <p>@ViewBag.ThongBao</p>
        </div>

    </div>
</div>
}


